{% extends 'main/base.html' %}

{% block title %}Contact Me{% endblock %}

{% block content %}
<header class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center"> 
    <h1 class="display-4">Contact</h1>
    <p style="font-size: 18px;" class="lead"> You can get in touch with me via the information below and I will get back to you as soon as possible.</div>
</header>

<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-3 text-center" style="margin-left: 39%;">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p><b>9 Remlik Way, Kingston 20, Kingston</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>(876)866-3722</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>JabulaniWilliams@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
{% endblock %}
