{% extends 'main/base.html' %}


{% block content %}
<div style="margin-left: 42%;" >
    <img src="https://media.licdn.com/dms/image/D4E03AQHcdUz-WLPtyg/profile-displayphoto-shrink_200_200/0/1676166355280?e=1681948800&v=beta&t=2nxIxtl_0ulbaOnWpnlkYP3pyLSrGIZYycD8mo8hS_k" alt="" class="pfp">
    <footer style="margin-top: 1%;" class="blockquote-footer">Jabulani Williams <cite title="Source Title">Software Developer</cite></footer>
</div>

<header class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center"> 
    <h1 class="display-4">About Me</h1>
    <p style="font-size: 18px;" class="lead">Hello! I'm a highly motivated and enthusiastic software developer with a passion for solving complex problems and creating innovative solutions. With experience in a variety of programming languages and technologies, I am comfortable working in both front-end and back-end development, and have a strong understanding of software architecture and design patterns.

        My education in computer science, combined with my experience in the field, has equipped me with the skills necessary to tackle any challenge that comes my way. I have a strong commitment to producing high-quality, maintainable code and am always looking for ways to improve my skills and stay up to date with the latest industry trends.
        
        I am a team player who is able to effectively communicate with both technical and non-technical stakeholders, and I thrive in fast-paced, collaborative environments. Whether working on a large project with a team of developers or tackling a smaller, solo project, I am committed to delivering results that exceed expectations.
        
        I am confident that my skills and experience make me a strong candidate for any software development role, and I am eager to bring my passion and expertise to your organization. If you're looking for a talented, dedicated, and driven software developer, I would be honored to hear from you.</p>
    </div>
</header>

<section class="jumbotron jumbotron-fluid">
    
    <h2 class="display-4 text-center mt-5 mb-3">Skills</h2>
        
    <div class="row text-center">
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <div class="card-body">
                <h4 class="card-title">Programming Languages</h4>
                <ul style = "list-style-type: none;">
                    <li>C# <i class="blockquote-footer">(Strong Proficiency)</i></li>
                    <li>Python <i class="blockquote-footer">(Strong Proficiency)</i></li>
                    <li>HTML/CSS <i class="blockquote-footer">(Strong Proficiency)</i></li>
                    <li>Javascript <i class="blockquote-footer">(Strong Proficiency)</i></li>
                    <li>C++ <i class="blockquote-footer">(Medium Proficiency)</i></li>                   
                </ul>
             </div>
          </div>
       </div>
       
       <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">Frameworks</h4>
                <ul style = "list-style-type: none;">
                    <li>Django<i class="blockquote-footer">(Strong Proficiency)</i></li>
                    <li>Bootstrap<i class="blockquote-footer">(Strong Proficiency)</i></li>
                    <li>Node/NodeJS<i class="blockquote-footer">(Medium Proficiency)</i></li>
                    <li>Electron<i class="blockquote-footer">(Medium Proficiency)</i></li>
                </ul>
            </div>
             
          </div>
       </div>
       
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <div class="card-body">
                <h4 class="card-title">Focus</h4>
                <ul style = "list-style-type: none;">
                    <li>Frontend development <i class="blockquote-footer">(Strong Proficiency)</i></li>
                    <li>Backend Development<i class="blockquote-footer">(Strong Proficiency)</i></li>
                    <li>Game Development<i class="blockquote-footer">(Medium Proficiency)</i></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
</section>
{% endblock %}

<style>
    
</style>

